.Login {
    width: 1200px;
    margin: 0 auto;
    min-height: 800px;
    position: relative;
}

.Login_left {
    width: 50%;
    box-shadow: 0 0 3px #1890ff;
    border-radius: 10px;
    padding: 5px;
    height: 337px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-image: url("../../../img/LoginLogo.jpg")
}
.Login_span{
    color: white;
}
.Login h2 {
    margin: 40px;
    font-weight: bold;
    color: #1E1E1E;
}

.Login p {
    margin: 40px;
}

.Login input {
    width: 87%;
}

.button_login {
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.forget {
    margin-right: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
}